{% extends 'base.html.twig' %}

{% block title %}APP | LOGIN{% endblock %}

{% block pageStylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
    <link rel="stylesheet" href="style/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="style/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="style/css/adminlte.min2167.css?v=3.2.0">
{% endblock %}

{% block body %}
<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="{{path('app_login')}}"><b>{{ 'app.title'|trans }}</a>
        </div>

        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">{{ 'login.title'|trans }}</p>
                
                <form action="{{ path('app_login_check') }}" method="POST">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" name="email" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">                 
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">{{'login.login'|trans}}</button>
                        </div>
                    </div>

                </form>

                {% if error is defined %}
                    <div class="alert alert-danger mt-3">{{ error }}</div>
                {% endif %}
                

                <p class="mb-1">
                    <a href="">{{ 'login.forgot-password'|trans }}</a>
                </p>
                
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="style/plugins/jquery/jquery.min.js"></script>
    <script src="style/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="style/dist/js/adminlte.min2167.js?v=3.2.0"></script>
{% endblock %}
